https://github.com/cloudify-cosmo/cloudify-dsl-parser/archive/4.0m6.zip
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/4.0m6.zip
https://github.com/cloudify-cosmo/cloudify-plugins-common/archive/4.0m6.zip
https://github.com/cloudify-cosmo/cloudify-diamond-plugin/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-script-plugin/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-agent/archive/4.0m6.zip

pyzmq==15.1.0

# Manually install:
# cloudify-manager/workflows
# cloudify-manager/rest-service

# test dependencies
python-dateutil
wagon
elasticsearch==1.6.0
psycopg2==2.6.2
